/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.app {
    padding: 1rem;
}

/* Home */
.page#home {
    text-align: center;
}

.description {

}

.event {
    display: none;
    color:#fff;
    font-size:12px;
    padding:3px 7px;
    background-color:#333;
}

@keyframes fade {
    from { opacity: 0.3; }
    50% { opacity: 0.2; }
    to { opacity: 0.3; }
}
 
@-webkit-keyframes fade {
    from { opacity: 0.3; }
    50% { opacity: 0.2; }
    to { opacity: 0.3; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/* Collections */
.page#collections a {
    height: 200px;
    background-color: orange;
    margin-bottom: 30px;
    text-decoration: none;
    font-size: 1rem;
}

.page#collections a span {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0 15px 0 20px;
}

.page#collections a i {
    display: block;
    color: rgba(0,0,0,0.3);
    margin: 0 20px;
}

/* Item list */
#item-list, #item-list li h4 {
    position: relative;
}
#item-list li {
    list-style: none;
}
#item-list li .item-description {
    line-height: 1.2;
    margin: 10px 0 50px 0;
    padding-right: 20px
}
#item-list li .item-description span {
    display: block;
    font-style: italic;
    margin-top: 5px;
}
#item-list li .item-description span:first-child {
    margin-top: 15px;
}
#item-list li .item-description span img {
    height: 20px;
    margin-right: 10px;
}
#item-list li .item-button {
    text-decoration: none;
    background-color: #4fa80d;
    display: inline-block;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size:.9em;
    font-weight: bold;
    margin-top: 15px;
}
#item-list li:before {
    content:'';
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 5px;
    background-color: #000;
}
#item-list li h4:before {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: #E4E4E4;
    border: solid 2px #000;
    position: absolute;
    left:-54px;
    z-index: 1;
    top: -5px;
}
#item-list li.achieved h4:before {
    background-color: #4fa80d;
    border: solid 2px #000;
    position: absolute;
    left:-54px;
    z-index: 1;
    top: -5px;
}